language="python3"
run = """
pip install git+https://github.com/Pycord-Development/pycord
pip install git+https://github.com/TheGenocides/BBA/
pip install git+https://github.com/PyTweet/PyTweet
pip install jishkucord
pip install gevent
pip install aiosqlite
python3 tweety.py
"""
onBoot="echo Booting up!"

[packager]
afterInstall="pip install git+https://github.com/Pycord-Development/pycord"
ignoredPaths=[".git"]
ignoredPackages=["discord.py", "discord"]